.login__bg--container{
    background-image: url('../images/image0.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
}
.login__form{
    width:90%;
    margin:auto
}